.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  display: flex;
}
.heading-container {
}
.heading {
  font-size: 65px;
  color: white;
}
.des {
  font-size: 25px;
  color: white;
}
.find-btn {
  background-color: blue;
  color: white;
  font-size: 20px;
  border: none;
  width: 120px;
  height: 55px;
  border-radius: 5px;
}
